.service {
    box-shadow: 5px 10px 20px 2px rgb(211, 211, 211);
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}
.service img {
    width: 100%;
}
.service .service-hover {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.service-content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.65);
    transition: opacity 500ms ease-out;
    padding: 5px;
}
.service-content h3,p {
    color: white;
}
.service .service-hover:hover .service-content{
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    
}